@charset "UTF-8";
.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}
@keyframes octocat-wave{
	0%,100%{transform:rotate(0)}
	20%,60%{transform:rotate(-25deg)}
	40%,80%{transform:rotate(10deg)}
}
@media(max-width:600px){
	.github-corner:hover .octo-arm{animation:none}
	.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
}
@media screen and (max-width: 600px) {
	#intro,#profileImg1,.github-corner{ display: none;}
	#profileImg2{display:inline-block;}
	#name1{display:inline-block;}
	.profile{position:relative; left:-3em;}
	#header-hr{margin-bottom:-1em;}
	.featured-project{max-width:100%;}
}
@media screen and (min-width: 601px) {
	#header-hr{margin-left:8.75em; width:inherit;}
	#profileImg1{display:inline-block;}
	#profileImg2{display:none;}
	#name1{padding-right:1em;}
	.featured-project{max-width:50%; float:left;}
}
header{background-color:rgb(245,245,245); top:0; width:100% !important;}
body{font-family:'Malgun Gothic', monospace; line-height:180%;}
a {text-decoration: none; color:blue;}
a:hover{text-decoration:underline;}
small,.span-line-align{display: inline-block;}
code{padding:2px 4px;font-size:90%;color:#c7254e;background-color:#f9f2f4;border-radius:6px; display: inline-block;line-height:120%;}
.profile{position:relative; display: table; margin-left: auto; margin-right: auto;}
.profile-Img{line-height:2em; float:left; vertical-align:middle;}
#profileImg1,#profileImg2{margin:2em 1em 1em 1em;}
#name2{color:rgb(128,128,128);}
#intro{border-left:0.3em solid rgb(150,150,150); padding-left:0.5em; margin-left:17.5em; max-width:490px;}
.doc{position:relative; display: table; margin-left: auto; margin-right: auto; padding-left:3em; padding-right:3em; max-width:800px;}
.featured-project{height:20em;}
.featured-project-h4{margin-bottom:-0.1em;}
.featured-project-rounded-img{max-width:100%;}
footer{width:100% !important; height:10em;}