@charset "UTF-8";
@media screen and (max-width: 800px) {
	body{font-size:0.65rem;}
	#profileImg{display:inline-block;}
	#sidebar{display: none;}
	#topbar{display: inline-block;}
	.imgs{margin-left:16em;}
	.doc{margin-left:-1rem; width:85%}
	.profile{font-size:0.85rem; margin-top:-3rem; position:relative; width:100%}
	.contact{font-size:0.8rem; }
}
@media screen and (min-width: 801px) {
	#topbar{display: none;}
	.doc{margin-left:17rem;}
}
@media screen and (max-width: 650px) {
	.work{max-width:100%;}
}
@media screen and (min-width: 651px) {
	.work{max-width:50%; float:left;}
}
body{font-family:'Spoqa Han Sans', sans-serif; line-height:180%; height:100%; position: relative;}

a {text-decoration: none; color:rgb(3,102,214);}
a:hover{color:rgb(68,114,148); text-decoration:underline;}

hr{background-color:rgb(68,114,148); height: 4px; border:0;}
small,.span-line-align{display: inline-block;}
span{font-size:1em;}
#sidebar{background-color:rgb(68,114,148); position: fixed; height:100%; padding-top: 1rem; z-index:2;
	left: 0; float:left; text-align:center; width:250px; }
.nav{position:absolute;top:50%; left:50%; width:150px; margin-top:-50px; margin-left:-75px;}
.nav-a{color:rgb(190,190,190); font-size:1.1rem; line-height:230%; text-decoration:none !important;}
.nav-a:hover{color:rgb(220,220,220)}
.active{color:white;}

#topbar{background-color:rgb(68,114,148); position: fixed; height:100%; padding-top: 1rem; left: 0; float:left; text-align:left; width:100%; height:50px; z-index:5;}
.topbar-name{padding-left:2rem; font-size:1.5rem; color:white;}
#topbar-name-a{text-decoration:none;}
#topbar-name-strong{color:white;}
.topbar-button{position: fixed; top:0.5rem; right:1.5rem; cursor:pointer;}
#topbar-button{color:white;}
.topbar-menu{padding-left:2rem; padding-top:1rem; height:15rem; background-color:rgb(68,114,148); display:none;}

.doc{position:relative; display: table; margin-right: auto; padding-left:3rem; padding-right:3rem;}

.profile-img{position:absolute;top:50%; left:50%; margin-top:-200px; margin-left:-100px; width:200px; height:200px; }
#profileImg{border:7px solid rgb(143,188,219); border-radius:200px;}

.personality,.skills,.history,.works{min-height: 100vh;}
.contact{min-height: 70vh;}

.profile{min-height:100vh; padding-top:30vh;}
#profile-h1{line-height:180%}

.personality{padding-top:5rem; margin-top:-15rem;}

.skills{padding-top:5rem; margin-top:-15rem;}
.mark-style-skills{background-color: #f9f2f4; color:#c7254e; font-weight: bolder; border-radius:6px; display:inline-block; line-height:120%; padding:2px 4px;}
.mark-style-history{background-color: #f9f2f4; color:#c7254e; font-weight: bolder; border-radius:6px; display:inline-block; line-height:120%; padding:2px 4px;}
.mark-style-works{background-color: #f9f2f4; color:#c7254e; font-weight: bold; border-radius:6px; display:inline-block; line-height:120%; padding:2px 4px;}

.history{padding-top:5rem; margin-top:0rem;}

.works{padding-top:5rem; margin-bottom:10rem;}
.works-h4{margin-bottom:-0.1rem;}
.works-rounded-img{max-width:100%;}
#work2{margin-bottom:3rem;}

.contact{padding-top:10rem;}
.contact-content{padding-left:2rem; line-height:280%;}

#qoute-box{background-color:white; position: fixed; bottom:0; height:4rem; width:100%; text-align:right; z-index:1;}
#qoute{display:inline-block; margin-right:2rem;}